/* headings 1 h2 fw700 */
/* headings 2 h3 fw700 */
/* headings 3 h5 fw600 */
/* headings 4 h6 fw600 */

/* h1, h2, h3, h4, h5, h6 {
    font-family: Inter;
} */

/* On hover Underline */
.hover_underline_animation {
    position: relative;
}

.hover_underline_animation:after {
    content: '';
    position: absolute;
    width: 100px;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #896229;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
}

.hover_underline_animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Paginator */
.MuiPagination-ul {
    justify-content: center !important;
}

.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    color: #896229 !important;
    background-color: transparent !important;
}

.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-disabled {
    color: inherit;
}

.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root,
.css-1v2lvtn-MuiPaginationItem-root {
    color: rgb(0 0 0 / 0.4) !important;
    background-color: transparent !important;
    font-weight: 600 !important;
    font-family: 'Poppins', sans-serif !important;
}

.MuiPaginationItem-previousNext {
    color: #896229 !important;
}

@media (max-width: 991px) {
    .css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root,
    .css-1v2lvtn-MuiPaginationItem-root {
        min-width: auto !important;
        margin: 0 5px !important;
        padding: 0 3px !important;
    }
}