* {
    margin: 0;
    padding: 0;
    line-height: normal;
    font-family: 'Poppins', sans-serif;
}

.dl,
ol,
ul {
    margin: 0;
}

.font12 {
    font-size: 12px !important;
}

.font14 {
    font-size: 14px !important;
}

.font20 {
    font-size: 20px !important;
}

.font22 {
    font-size: 22px !important;
}

.font24 {
    font-size: 24px !important;
}


.dec_none {
    text-decoration: none;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    height: 12px;
    width: 12px;
    background-image: url("../public/icons/cross.svg");
    background-size: 12px 12px;
}

.btn_bg_white {
    padding: 12px 45px;
    color: #896229;
    background-color: #ffffff;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
}

.btn_bg_transparent {
    padding: 12px 45px;
    color: #896229;
    background-color: transparent;
    border: 2px solid #896229;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    width: fit-content;
    display: block;
}

.btn_submit {
    padding: 8px 35px;
    color: #896229;
    background-color: transparent;
    border: 2px solid #896229;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    width: fit-content;
    display: block;
    margin-top: 20px;
}

.action_btn1 {
    color: #fff;
    font-size: 14px;
    background-color: #373737;
    border: 2px solid #373737;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 11px 32px;
    margin-right: 15px;
    text-decoration: none;
}

.action_btn2 {
    color: #373737;
    font-size: 14px;
    background-color: transparent;
    border: 2px solid #373737;
    border-radius: 4px;
    padding: 11px 32px;
    margin-right: 15px;
    text-decoration: none;
}

.text_biege {
    color: #896229;
}

.bg_biege_light {
    background-color: #BC9E69;
}

.my_mt_4 {
    margin-top: 1.5rem !important;
}

.mt_max {
    margin-top: 95px;
}

.mb_max {
    margin-bottom: 95px;
}

.pt_max {
    padding-top: 95px;
}

.pb_max {
    padding-bottom: 95px;
}

.view_more::after {
    content: '';
    background-image: url("../public/icons/viewMoreArrow.svg");
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 59px;
    margin-left: 10px;
}

.input label,
.input_label {
    color: #9F9F9F;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    /* width: fit-content; */
}

.input input,
.input textarea,
.input_field {
    border: none;
    border-bottom: 2px solid #707070;
    font-size: 16px;
    background-color: transparent;
}

.input>*:not(:last-child) {
    margin-bottom: 1.5rem;
}

.input *:focus,
.input_field:focus {
    outline: none;
}

textarea {
    height: 25.80px;
}

.p_0_mobile_auto {
    padding-left: 0;
    padding-right: 0;
}

.border_bottom_biege {
    border-bottom: 2px solid #896229;
}

.border_biege {
    border: 2px solid #896229;
}

button:disabled {
    color: rgb(0, 0, 0, 0.2);
    background-color: rgb(0, 0, 0, 0.05);
}

.fw600 {
    font-weight: 600 !important;
}

.price_symbol {
    font-family: system-ui, serif;
}

.square_image {
    position: relative;
    width: 100%;
}

.square_image:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.square_image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@media (max-width: 991px) {
    .container {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }

    .diable_link_in_lg {
        pointer-events: all;
    }

    .btn_bg_white {
        padding: 7px 24px;
        border-radius: 6px;
        font-weight: 600;
        font-size: 14px;
    }

    .action_btn1 {
        padding: 8px 25px;
        margin-right: 15px;
    }

    .action_btn2 {
        padding: 8px 25px;
        margin-right: 15px;
    }

    .mobile_max_width_to_100 {
        max-width: 100% !important;
    }

    .mobile_img_to_full_vw {
        width: calc(100% + 3rem) !important;
        margin-left: -1.5rem;
    }

    .text_center_mobile {
        text-align: center !important;
    }

    .mt_max {
        margin-top: 35px;
    }

    .mb_max {
        margin-bottom: 35px;
    }

    .pt_max {
        padding-top: 35px;
    }

    .pb_max {
        padding-bottom: 35px;
    }

    .p_0_mobile_auto {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }

    .flex0 {
        flex: 0;
    }

    .font20 {
        font-size: 16px;
    }

    .h_line {
        margin: auto;
    }

    .row {
        margin-left: -0.375rem;
        margin-right: -0.375rem;
    }

    .row>* {
        padding-left: 0.375rem;
        padding-right: 0.375rem;
    }

    .my_mt_4 {
        margin-top: 0.75rem !important;
    }
}

/* To hide the scrollbar */
.hide_scrollbar::-webkit-scrollbar,
.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.hide_scrollbar,
.react-horizontal-scrolling-menu--scroll-container {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.upward.react-horizontal-scrolling-menu--wrapper,
.downward.react-horizontal-scrolling-menu--wrapper {
    flex-wrap: wrap;
    justify-content: center;
}

.upward .react-horizontal-scrolling-menu--scroll-container,
.downward .react-horizontal-scrolling-menu--scroll-container {
    flex-basis: 100%;
    flex-shrink: 0;
}

/* Change position of container so arrows will be at top/bottom */
.downward .react-horizontal-scrolling-menu--scroll-container {
    order: -1;
}

/* Arrow on TOP */
.upward .react-horizontal-scrolling-menu--scroll-container {
    order: 1;
}