# dependencies
/node_modules
/client/node_modules
/server/config/config.env
/pending.txt
# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


400
401
402
403
404
200
201
500