.products_collage_img_container {
    position: relative;
    display: block;
}

.products_collage_img_container>div {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    z-index: 1;
    background: linear-gradient(rgba(159, 117, 42, 0.5), rgba(159, 117, 42, 0.5));
    display: none;
}

.products_collage_img_container:hover {
    transform: scale(1.02);
    transition: .5s;
}

.products_collage_img_container:hover>div {
    display: flex;
    transition: .5s;
}

@media (max-width: 991px) {
    .products_collage_img_container h5 {
        font-size: 16px;
    }

    .products_collage_img_container p {
        font-size: 8px !important;
    }

    .products_collage_img_container>div {
        background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
        justify-content: flex-end;
        align-items: flex-start;
        display: flex;
        padding: 8px;
    }

    .products_collage_img_container:hover>div {
        background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
    }

    .products_collage_img_container:hover {
        transform: none;
    }
}